/*--------------------------------------------------------------
# Global Colors (Declared in block_setup.php)
--------------------------------------------------------------*/

// Color palette
$color_map: (
  green: #046A38,
  green-500: #28AE65,
  blue: #008BD6,
  black: #000,
  gray: #5C5C5C,
  gray-500: #d1d1d1,
  gray-250: #FAFAFA,
  white: #ffffff,
  translucent: rgba(0,0,0,0.6)
);

// Unfortunately, SCSS doesn't support dynamic variable creation
// so we still have to define these manually.
$color-green: #046A38;
$color-green-500: #28AE65;
$color-blue: #008BD6;
$color-black: #000;
$color-gray: #5C5C5C;
$color-gray-500: #d1d1d1;
$color-gray-250: #FAFAFA;
$color-white: #ffffff;
$color-translucent: rgba(0,0,0,0.6);

// Generate background and text color styles
@each $color_name, $color_value in $color_map {
  .has-#{$color_name}-background-color{
    background-color: #{$color_value};
  }
  .has-#{$color_name}-color{
    color: #{$color_value};
  }
}